<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/errorpages/ErrorPage500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/errorpages/ErrorPage404.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- 
	-->
	<servlet>
		<display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.carhistory.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<display-name>NovoCadastro</display-name>
        <servlet-name>NovoCadastro</servlet-name>
        <servlet-class>br.com.carhistory.servlet.NovoCadastro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoCadastro</servlet-name>
        <url-pattern>/NovoCadastro</url-pattern>
    </servlet-mapping>
</web-app>
